<div class="container">
  <div class="row main">
    <div class="panel-heading">
      <div class="panel-title text-center">
        <h1 class="title">일정 생성하기</h1>
        <hr />
      </div>
    </div>
    <div class="main-bg main-center">
      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">Schedule name</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="scheName" id="scheName"  placeholder="Enter Schedule name" required/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">When this schedule start?</label>
        <div class="cols-sm-10">
          <div class="input-group cal-form">
            <input type="text" class="form-control" name="startDate" id="startDate"  placeholder="When schedule start?" required/>
            <input type="text" class="form-control Len2" name="startHour" id="startHour"  placeholder="HH" required max="24" min="1"/>
            <input type="text" class="form-control Len2" name="startMin" id="startMin"  placeholder="MM" required min="0" max="59"/>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="cols-sm-2 control-label">When this schedule finish?</label>
        <div class="cols-sm-10">
          <div class="input-group cal-form">
            <input type="text" class="form-control" name="finishDate" id="finishDate"  placeholder="When schedule finish?" required/>
            <input type="text" class="form-control Len2" name="finishHour" id="finishHour"  placeholder="HH" required max="24" min="1"/>
            <input type="text" class="form-control Len2" name="finishMin" id="finishMin"  placeholder="MM" required min="0" max="59"/>
          </div>
        </div>
      </div>
      <div class="form-group ">
        <button type="button" class="btn btn-primary btn-lg btn-block login-button" id = 'submitBtn'>제출</button>
      </div>
    </div>
  </div>
</div>
<input type = 'hidden' id='rowId' value = <%=@rowId%> />
<script>
  $(document).ready(function(){
    let rowId = $("#rowId").val();
    let rowObj = JSON.parse(localStorage.getItem("schedule"+rowId));
    $("#scheName").val(rowObj["scheName"]);
    $("#startDate").val(moment(rowObj["startDate"]*1000).format('MM/DD/YYYY'));
    $("#startHour").val(moment(rowObj["startDate"]*1000).format("HH"));
    $("#startMin").val(moment(rowObj["startDate"]*1000).format("mm"));
    $("#finishDate").val(moment(rowObj["finishDate"]*1000).format('MM/DD/YYYY'));
    $("#finishHour").val(moment(rowObj["finishDate"]*1000).format("HH"));
    $("#finishMin").val(moment(rowObj["finishDate"]*1000).format("mm"));

    $( "#finishDate" ).datepicker({});
    $( "#startDate" ).datepicker({});
    $(".Len2").change(function(){
      if($(this).val().length > 2){
        alert("시간은 1~24, 분은 0~59 입니다");
        $(this).val(0);
      }
    });
    $('#submitBtn').click(function(){
      //validation
      let listCnt = Number(localStorage.getItem('listCnt'));
      let userName = localStorage.getItem("userName");
      let startStr = `${$("#startDate").val()}, ${$("#startHour").val()}:${$("#startMin").val()}:00`;
      let finishStr = `${$("#finishDate").val()}, ${$("#finishHour").val()}:${$("#finishMin").val()}:00`;
      let stUnixTime = Date.parse(startStr)/1000;
      let finUnixTime = Date.parse(finishStr)/1000;
      if(stUnixTime >= finUnixTime){
        alert("시간이 잘못되었습니다!");
      } else if(finUnixTime < Date.now()/1000){
        alert("현재시간 이전은 예약이 불가능 합니다");
      } else{
        //webStorage에 체크
        let isValid = 1;
        //안되는 경우를 체크하기 보단 되는 경우를 체크하는 것이 좋겠다!
        for(let i = 0; i<listCnt; i++){
          if(i == rowId) continue;  //자기 자신과 비교할 필요는 없다
          let obj = localStorage.getItem('schedule'+i);
          let compObj = JSON.parse(obj);
          let compStDate = compObj["startDate"];
          let compFinDate = compObj["finishDate"];
          if((compStDate > stUnixTime && compStDate > finUnixTime)|| (compFinDate < stUnixTime && compFinDate < finUnixTime)){
            continue;
          } else{
            isValid = 0;
            break;
          }
        }
        if(isValid == 0){
          alert("이미 그 시간에 예약이 있습니다");
        } else{
          let Object = {'scheName': $("#scheName").val(),'userName': userName ,'startDate' : stUnixTime, 'finishDate': finUnixTime};
          localStorage.setItem('schedule'+rowId, JSON.stringify(Object));
          window.location.href = '/schedule/index';
        }
      }
      //is okay
    });
  });
</script>